body {
  padding-left: 15%;
  padding-right: 15%;
  background-color: #f3f3f3;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  background: white;
  border-radius: 16px;
  justify-content: center;
  margin-top: 60px;
  width: 600px;
  height: 470.81px;
}

.header {
  text-align: center;
  line-height: 0.005;
  width: 195.26px;
  height: 56.36px;
}

.header h3 {
  font-size: 16.57px;
  font-weight: semibold;
  font-family: "Public Sans", sans-serif;
  color: #121212;
  line-height: auto;
}
.header h5 {
  font-size: 10.36px;
  font-weight: semibold;
  font-family: "Public Sans", sans-serif;
  color: rgba(18, 18, 18, 0.7);
  line-height: 0.5;
}
.header p {
  font-size: 8.30px;
  font-weight: lighter;
  font-family: "Public Sans", sans-serif;
  color: rgba(18, 18, 18, 0.5);
}

.form{
  background-color: white;
  border: 20px;
  font-size: semibold;
  font-family: "Public Sans", sans-serif;
  color: rgba(33, 33, 33, 1);
  font-size: 12px;
  margin-top: 20px;
  margin-right: 20px;
  width: 313.96px;
  height: 246.63px;
}

input {
  width: 95%;
  padding: 10px;
  margin: 3px 0;
border: none;
  border-radius: 4px;
  background-color: #fbfbfb;
}
.form-group select {
  width: 319px;
  padding: 10px;
  margin: 3px 0;
border: none;
  border-radius: 4px;
  background-color: #fbfbfb;
}

 .container button {
background-color: rgba(110, 90, 158, 1);
color: white;
border: none;
border-radius: 30px;
cursor: pointer;
width: 150px;
height: 31px;
font-size: 16px;
justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  width: 185px;
  height: 31px;
  margin: 5px auto;
}
.right {
  width: 10%;
  flex: 0.5;
  display: flex;
  object-fit: cover;
}
.left {
  display: block;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 50%;
  border-radius: 16px;
} 
@media (max-width: 768px) {
      .container {
        flex-direction: column;
        padding: 30px;
      }
    }
img {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 444.47px;
  height: 470.7px;
}