.header {
    background: 
        linear-gradient(rgba(88, 5, 99, 0.3), rgba(67, 3, 64, 0.3)),
        url("../../assets/Landing\ Page\ Pics/HeaderImg.svg") center top / cover no-repeat;

    height: 100vh;
    padding: 6rem 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2rem;
    text-align: center;
    
}

h1{
    font-size: 50px;
    width: 58%;
    padding-top: 17rem;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
}

p{
    font-size: 20px;
    width: 58%;
}

.header button{
    background-color: #6E5A9E;
    border-radius: 10px;
    padding: 1rem 7rem;
    font-size: 20px;
    color: white;
    border: 2px solid #6E5A9E;
    margin-top: 3rem;
}

.header button:hover {
    background-color: #593f82; 
    border-color: #593f82;
    transition: 0.3s ease;      
}
