.programs-section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 3rem 2rem;
}

.programs-section h1 {
  margin-top: -4rem;
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
}

.programs-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.each-program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  padding: 2rem;
}

.each-program h2{
  font-family: 'Public Sans', sans-serif;
  font-size: 1.5rem;

}

.each-program button {
  background-color: #6e5a9e;
  padding: 20px;
  font-size: 20px;
  border: 2px solid #6e5a9e;
  border-radius: 40px;
  color: white;
  width: 260px;
}

.each-program button:hover {
  background-color: #593f82;
  border-color: #593f82;
  transition: 0.3s ease;
}

.each-program img {
  width: 180px;
  height: 260px;
}

@media (max-width: 1400px) {
 .programs-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: stretch; 
}

.each-program {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  flex: 1 1 45%; 
  max-width: 500px;
  padding: 1rem;
  box-sizing: border-box; 
}
}
