.team-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
   /*  margin-top: -10rem; */
    
}

.team-section h1{
      font-family: 'Public Sans', sans-serif;
}

.profiles{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    width: 85%;
}

.profile-card{
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.low{
    margin-top: 4rem;
    
}
.social-links img:not(:first-child){
    width: 20px;
    height: 20px;
}

.social-links{
    display: flex;
    gap: 1.6rem;
    align-items: flex-end;
    
}

.team-section h1{
        white-space: nowrap;
        text-align: center;
    }

@media (max-width: 1400px) {
    .team-section{
        width: 100%;
        overflow-x: hidden;
        align-items: center;
    }
    .team-section h1 {
        white-space: normal;
        width: 90%;         
        margin: 0 auto 5rem auto; 
        text-align: center;
    }
    .profiles {
        flex-direction: column; 
        align-items: flex-start;
       width: 80%;
        gap: 0;
       margin: 5rem 0rem 0rem 5%;
    }

    .profile-card {
        width: 50%;
        position: relative;
    }

    
    .low, .high {
        margin-top: 0; 
    }

    
    .right {
        align-self: flex-end; 
        margin-top: -8rem;
        margin-left: 20rem;
    }

    .left{
        margin-top: -8rem;
        align-self: flex-start;
        z-index: 1;
        margin-left: -5%;
    }


   .social-links img:not(:first-child){
    width: 12px;
    height: 12px;
}


.social-links{
    display: flex;
    gap: 1.3rem;
    align-items: flex-end;
    
}
}