.about-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 0rem;
    gap: 3rem;
    margin-top: -14rem;
}

.mission-and-vision{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-section p, .vision-section p{
    text-align: left;
}

.mission-section, .vision-section, .about-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.about-heading{
    width: 100%
}


  .mission-section img,
.vision-section img {
    width: 100%;
    max-width: 600px; /* keeps it from getting too big on large screens */
    height: auto;
    padding-top: 2rem;
}


 @media (max-width: 1400px){
    .about-heading p{
        width: 80%;
        text-align: left;
    }
    .mission-and-vision{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .mission-section p, .vision-section p{
        text-align: center;
        width: 80%;
    }
    

    .mission-section img,
    .vision-section img {
        width: 80%;  /* responsive */
        max-width: 400px;
    }
}