.navbar img{
    width: 200px;
    height: 180px;
    padding-left: 10rem;
    
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 20rem;
    justify-content: space-between;
    align-items: center;
}

nav{
    display:flex;
    gap: 10rem;
    font-size: 20px;
    background-color: #6E5A9E;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    
    font-weight: 500;
} 

nav a{
    flex-shrink:0;
}

.nav-link {
    color: whitesmoke;
    text-decoration: none;
}

.nav-link:hover {
    opacity: 0.8;
}

@media (max-width: 1500px){
    .navbar img{
        padding-left: 3rem;
    }

    .navbar{
        gap: 8rem
    }
    nav{
        gap:5rem
    }
}