.navbar img{
    width: 150px;
    height: auto;
    padding-left: 2rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1000;
}




nav{
    display:flex;
    gap: 10rem;
    font-size: 20px;
    background-color: #6E5A9E;
    color: white;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    
    font-weight: 500;
} 

nav a{
    flex-shrink:0;
}

.nav-link {
    color: whitesmoke;
    text-decoration: none;
}

.nav-link:hover {
    opacity: 0.8;
}

@media (max-width: 1500px){
    .navbar img{
        padding-left: 3rem;
    }

    .navbar{
        gap: 8rem
    }
    nav{
        gap:5rem
    }
}


.hamburger {
  display: none; 
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  margin-left: -2rem;
}


.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #6E5A9E; /
    transition: 0.3s;
}


@media (max-width: 900px) {
    .navbar img {
        padding-left: 1.5rem;
    }

    .hamburger {
        display: flex;
        margin-right: 2rem; 
    }

    nav {
        
        display: none; 
        position: absolute;
        top: 100%; 
        
        width: 100%;
        height: auto;
        padding: 2rem 0;
        flex-direction: column;
        gap: 2rem;
        
     
        background-color: #6E5A9E;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    }

    
    nav.open {
        display: flex;
        animation: slideDown 0.3s ease-out;
    }
}

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}