.partners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.row1, .row2{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    width:  90%
}