.team-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
   /*  margin-top: -10rem; */
    
}

.profiles{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    width: 85%;
}

.profile-card{
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.low{
    margin-top: 4rem;
    
}
.social-links img{
    margin-right: 30px;
}

.social-links{
    
}