@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Public+Sans:wght@600;700&display=swap');
*{
  margin: 0;
  
}

html, body {
   overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

body{
  font-family: 'Inter', sans-serif;
  
}